.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
body,
div,
ul,
li,
span,
p {
  margin: 0;
  padding: 0;
}
#wrapper {
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
  font-size: 16px;
  width: 410px;
  height: 490px;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  margin-left: 50px;
  background: #a19d9d;
  background: -moz-linear-gradient(top, #eae4e4 0%, #a19d9d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eae4e4), color-stop(100%, #a19d9d));
  background: -webkit-linear-gradient(top, #eae4e4 0%, #a19d9d 100%);
  background: -o-linear-gradient(top, #eae4e4 0%, #a19d9d 100%);
  background: -ms-linear-gradient(top, #eae4e4 0%, #a19d9d 100%);
  background: linear-gradient(to bottom, #eae4e4 0%, #a19d9d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{@from-color}', endColorstr='#{@to-color}', GradientType=0);
  background-repeat: no-repeat;
}
#wrapper h1 {
  text-align: center;
}
#wrapper .messages-list {
  list-style-type: none;
}
#wrapper .messages-list .me-item {
  display: block;
  border: 1px solid black;
  border-radius: 15px;
  background: #b6fafc;
  background: -moz-linear-gradient(top, #32cece 0%, #b6fafc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32cece), color-stop(100%, #b6fafc));
  background: -webkit-linear-gradient(top, #32cece 0%, #b6fafc 100%);
  background: -o-linear-gradient(top, #32cece 0%, #b6fafc 100%);
  background: -ms-linear-gradient(top, #32cece 0%, #b6fafc 100%);
  background: linear-gradient(to bottom, #32cece 0%, #b6fafc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{@from-color}', endColorstr='#{@to-color}', GradientType=0);
  background-repeat: no-repeat;
  width: 250px;
  margin-left: 140px;
  margin-bottom: 10px;
}
#wrapper .messages-list p {
  margin-left: 10px;
}
#wrapper .messages-list .me-item span:first-of-type {
  font-weight: bold;
  margin-left: 10px;
}
#wrapper .messages-list .me-item .date {
  margin-left: 90px;
}
#wrapper .messages-list .toshko-item {
  display: block;
  border: 1px solid black;
  border-radius: 15px;
  background: #99f739;
  background: -moz-linear-gradient(top, #cdf7a2 0%, #99f739 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf7a2), color-stop(100%, #99f739));
  background: -webkit-linear-gradient(top, #cdf7a2 0%, #99f739 100%);
  background: -o-linear-gradient(top, #cdf7a2 0%, #99f739 100%);
  background: -ms-linear-gradient(top, #cdf7a2 0%, #99f739 100%);
  background: linear-gradient(to bottom, #cdf7a2 0%, #99f739 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{@from-color}', endColorstr='#{@to-color}', GradientType=0);
  background-repeat: no-repeat;
  width: 250px;
  margin-left: 20px;
  margin-bottom: 10px;
}
#wrapper .messages-list .toshko-item span:first-of-type {
  font-weight: bold;
  margin-left: 190px;
}
#wrapper .messages-list .toshko-item .date {
  margin-left: 10px;
}
.date {
  font-family: Consolas;
}
input {
  width: 300px;
  height: 25px;
  border-radius: 5px;
  margin-left: 20px;
  color: #a19d9d;
}
button {
  width: 60px;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  background: #a19d9d;
  background: -moz-linear-gradient(top, #eae4e4 0%, #a19d9d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eae4e4), color-stop(100%, #a19d9d));
  background: -webkit-linear-gradient(top, #eae4e4 0%, #a19d9d 100%);
  background: -o-linear-gradient(top, #eae4e4 0%, #a19d9d 100%);
  background: -ms-linear-gradient(top, #eae4e4 0%, #a19d9d 100%);
  background: linear-gradient(to bottom, #eae4e4 0%, #a19d9d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{@from-color}', endColorstr='#{@to-color}', GradientType=0);
  background-repeat: no-repeat;
  font-weight: bold;
}
button:hover {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{@from-color}', endColorstr='#{@to-color}', GradientType=0);
  background-repeat: no-repeat;
}
