USE [master]
GO
/****** Object:  Database [TelerikAcademy]    Script Date: 26.8.2014 г. 16:42:56 ******/
CREATE DATABASE [TelerikAcademy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TelerikAcademy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TelerikAcademy.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TelerikAcademy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TelerikAcademy_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TelerikAcademy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TelerikAcademy]
GO
/****** Object:  SqlAssembly [StrConcat]    Script Date: 26.8.2014 г. 16:42:56 ******/
CREATE ASSEMBLY [StrConcat]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300B989FC530000000000000000E00002210B010B00000A000000060000000000004E290000002000000040000000000010002000000002000004000000000000000600000000000000008000000002000000000000030060850000100000100000000010000010000000000000100000000000000000000000FC2800004F00000000400000B802000000000000000000000000000000000000006000000C000000C42700001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E746578740000005409000000200000000A000000020000000000000000000000000000200000602E72737263000000B80200000040000000040000000C0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001000000000000000000000000000004000004200000000000000000000000000000000302900000000000048000000020005003C210000880600000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000360002730700000A7D010000042A0000133002002D00000001000011000F01280800000A16FE010A062D03002B1A027B010000040F01280900000A6F0A00000A1F2C6F0B00000A262A5200027B01000004037B010000046F0C00000A262A0000133004004F00000002000011007E0D00000A0A027B010000042C13027B010000046F0E00000A16FE0216FE012B0117000C082D1C00027B0100000416027B010000046F0E00000A17596F0F00000A0A0006731000000A0B2B00072A4E0002036F1100000A731200000A7D010000042A520003027B010000046F1300000A6F1400000A002A1E02281500000A2A42534A4201000100000000000C00000076342E302E33303331390000000005006C0000002C020000237E0000980200008402000023537472696E6773000000001C050000080000002355530024050000100000002347554944000000340500005401000023426C6F620000000000000002000001571702000900000000FA253300160000010000000F0000000200000001000000070000000400000001000000150000000500000002000000010000000200000000000A000100000000000600380031000A0066004B000600830077000A00BE00A9000600ED00E3000600FF00E30006004201280106006E015B012300820100000600B10191010600D10191010600FD0131000A0013024B000A0034024B000600570231000000000001000000000001000100012010001C000000050001000100010091000A005020000000008600A4000E0001006020000000008600C800120001009920000000008600D30018000200B020000000008600D9001E0003000B2100000000E601FA00230003001F2100000000E6010C0129000400342100000000861812010E000500000001001801000001001E0100000100240100000100260102000900390012012F00410012013400510012013A00590012010E00610012010E00690012013F00190012010E0021003B02A70021004602AB0019005002AF0019005002B50019005002BF0079005E02C50019006402C80019006F02CC00210012012F0029007802AB00190012012F0009006F02AB0031000C012F00090012010E002E00130023012E00230035012E000B00D9002E001B002C01430033004500BB00D200048000000000000000000000000000000000EF010000040000000000000000000000010028000000000004000000000000000000000001003F00000000000000003C4D6F64756C653E0053514C20537472436F6E6361742E646C6C00436F6E636174656E617465006D73636F726C69620053797374656D004F626A6563740053797374656D2E44617461004D6963726F736F66742E53716C5365727665722E536572766572004942696E61727953657269616C697A650053797374656D2E5465787400537472696E674275696C64657200696E7465726D656469617465526573756C7400496E69740053797374656D2E446174612E53716C54797065730053716C537472696E6700416363756D756C617465004D65726765005465726D696E6174650053797374656D2E494F0042696E61727952656164657200526561640042696E617279577269746572005772697465002E63746F720076616C7565006F74686572007200770053797374656D2E52756E74696D652E56657273696F6E696E67005461726765744672616D65776F726B4174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650053514C20537472436F6E6361740053657269616C697A61626C654174747269627574650053716C55736572446566696E656441676772656761746541747472696275746500466F726D6174006765745F49734E756C6C006765745F56616C756500417070656E6400537472696E6700456D707479006765745F4C656E67746800546F537472696E670052656164537472696E6700000003200000000000DC88714073A65E40B063E8E9922B0AE50008B77A5C561934E0890306120D032000010520010111110520010112080420001111052001011215052001011219042001010E05200101112504200101080520010111396101000200000004005402124973496E76617269616E74546F4E756C6C73015402174973496E76617269616E74546F4475706C696361746573005402124973496E76617269616E74546F4F726465720054080B4D61784279746553697A65401F0000032000020320000E052001120D0E052001120D0303070102052001120D1C02060E032000080520020E08080607030E1111024901001A2E4E45544672616D65776F726B2C56657273696F6E3D76342E350100540E144672616D65776F726B446973706C61794E616D65122E4E4554204672616D65776F726B20342E350801000701000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F77730100000000B989FC5300000000020000001C010000E0270000E009000052534453A6C4950F30F9BA4FA4B6BBE3A190E9E902000000643A5C4247617465765C506572736F6E616C5C4461746162617365735C4C656374696F6E20365C53514C20537472436F6E6361745C6F626A5C44656275675C53514C20537472436F6E6361742E7064620000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002429000000000000000000003E29000000200000000000000000000000000000000000000000000030290000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF250020001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001001000000018000080000000000000000000000000000001000100000030000080000000000000000000000000000001000000000048000000584000005C02000000000000000000005C0234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004BC010000010053007400720069006E006700460069006C00650049006E0066006F0000009801000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E003000000044001200010049006E007400650072006E0061006C004E0061006D0065000000530051004C00200053007400720043006F006E006300610074002E0064006C006C0000002800020001004C006500670061006C0043006F0070007900720069006700680074000000200000004C00120001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000530051004C00200053007400720043006F006E006300610074002E0064006C006C000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E00300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000503900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE

GO
/****** Object:  UserDefinedTableType [dbo].[TableType]    Script Date: 26.8.2014 г. 16:42:56 ******/
CREATE TYPE [dbo].[TableType] AS TABLE(
	[names] [nvarchar](50) NULL
)
GO
/****** Object:  UserDefinedAggregate [dbo].[STRCONCAT]    Script Date: 26.8.2014 г. 16:42:56 ******/
CREATE AGGREGATE [dbo].[STRCONCAT]
(@input [nvarchar](200))
RETURNS[nvarchar](max)
EXTERNAL NAME [StrConcat].[Concatenate]
GO
/****** Object:  StoredProcedure [dbo].[FetchPairs]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[FetchPairs] @pairs CURSOR VARYING OUTPUT
AS
BEGIN
	Set @pairs = CURSOR FOR 
		select Towns.Name, Employees.LastName
		from Employees inner join Addresses on Employees.AddressID = Addresses.AddressID
					   inner join Towns on Addresses.TownID = Towns.TownID
		order by Towns.Name;

	OPEN @pairs;
End;

GO
/****** Object:  UserDefinedFunction [dbo].[CheckNamesFromSymbols]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[CheckNamesFromSymbols] 
(	
	@symbols nvarchar(50),
	@inputTableName TableType ReadOnly
)
RETURNS 
@NamesFromSymbols TABLE 
(
	-- Add the column definitions for the TABLE variable here
	id int primary key identity NOT NULL,
	names nvarchar(50)
)
AS
BEGIN
	Declare @currentName nvarchar(50),
			@charCount int,
			@currentPos int,
			@currentCounter int;

	DECLARE input_cursor CURSOR FOR 
	SELECT *
	FROM @inputTableName;
	OPEN input_cursor

	While @@FETCH_STATUS = 0
	Begin
		FETCH NEXT FROM input_cursor 
		INTO @currentName

		Set @charCount = LEN(@currentName);
		Set @currentCounter = 0;

		While @charCount > 0
		Begin
			Set @currentPos = CHARINDEX(SUBSTRING(@currentName, @charCount, 1), @symbols);
			If (@currentPos > 0) Set @currentCounter = @currentCounter + 1;
			Else Break;
			
			Set @charCount = @charCount - 1;
		End;

		-- Fill the table variable with the rows for your result set 
		If @currentCounter = LEN(@currentName) Insert into @NamesFromSymbols(names) Values(@currentName);
	End;

	RETURN 
END

GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[AddressText] [nvarchar](100) NOT NULL,
	[TownID] [int] NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ManagerID] [int] NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[ManagerID] [int] NULL,
	[HireDate] [smalldatetime] NOT NULL,
	[Salary] [money] NOT NULL,
	[AddressID] [int] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeesProjects]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesProjects](
	[EmployeeID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Groups]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [ntext] NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Towns]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Towns](
	[TownID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Towns] PRIMARY KEY CLUSTERED 
(
	[TownID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[LastLoginTime] [datetime] NULL,
	[GroupID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkHours]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHours](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ReportDate] [date] NOT NULL,
	[Task] [nvarchar](255) NOT NULL,
	[ExecutionHours] [float] NOT NULL,
	[Comments] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_WorkHours] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkHoursLogs]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHoursLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OldEmployeeId] [int] NULL,
	[OldReportDate] [date] NULL,
	[OldTask] [nvarchar](255) NULL,
	[OldExecutionHours] [float] NULL,
	[OldComments] [nvarchar](255) NULL,
	[NewEmployeeId] [int] NULL,
	[NewReportDate] [date] NULL,
	[NewTask] [nvarchar](255) NULL,
	[NewExecutionHours] [float] NULL,
	[NewComments] [nvarchar](255) NULL,
	[Command] [nvarchar](10) NULL,
 CONSTRAINT [PK_WorkHoursLogs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[Users Logged Today]    Script Date: 26.8.2014 г. 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Users Logged Today] AS
SELECT * 
FROM Users
WHERE convert(varchar(2),Users.LastLoginTime,104) = convert(varchar(2),GETDATE(),104)
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([AddressID], [AddressText], [TownID]) VALUES (1, N'108 Lakeside Court', 5)
INSERT [dbo].[Addresses] ([AddressID], [AddressText], [TownID]) VALUES (2, N'1343 Prospect St', 5)
INSERT [dbo].[Addresses] ([AddressID], [AddressText], [TownID]) VALUES (3, N'1648 Eastgate Lane', 5)
GO
SET IDENTITY_INSERT [dbo].[Addresses] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [Name], [ManagerID]) VALUES (1, N'Engineering', 12)
INSERT [dbo].[Departments] ([DepartmentID], [Name], [ManagerID]) VALUES (2, N'Tool Design', 4)
INSERT [dbo].[Departments] ([DepartmentID], [Name], [ManagerID]) VALUES (3, N'Sales', 273)
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [MiddleName], [JobTitle], [DepartmentID], [ManagerID], [HireDate], [Salary], [AddressID]) VALUES (1, N'Guy', N'Gilbert', N'R', N'Production Technician', 7, 16, CAST(0x8CA502D0 AS SmallDateTime), 12500.0000, 166)
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [MiddleName], [JobTitle], [DepartmentID], [ManagerID], [HireDate], [Salary], [AddressID]) VALUES (2, N'Kevin', N'Brown', N'F', N'Marketing Assistant', 4, 6, CAST(0x8D770000 AS SmallDateTime), 13500.0000, 102)
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [MiddleName], [JobTitle], [DepartmentID], [ManagerID], [HireDate], [Salary], [AddressID]) VALUES (3, N'Roberto', N'Tamburello', NULL, N'Engineering Manager', 1, 12, CAST(0x8E980000 AS SmallDateTime), 43300.0000, 193)
GO
SET IDENTITY_INSERT [dbo].[Employees] OFF
INSERT [dbo].[EmployeesProjects] ([EmployeeID], [ProjectID]) VALUES (1, 4)
INSERT [dbo].[EmployeesProjects] ([EmployeeID], [ProjectID]) VALUES (1, 24)
INSERT [dbo].[EmployeesProjects] ([EmployeeID], [ProjectID]) VALUES (1, 38)
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([id], [name]) VALUES (1, N'Admins')
INSERT [dbo].[Groups] ([id], [name]) VALUES (2, N'Users')
SET IDENTITY_INSERT [dbo].[Groups] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectID], [Name], [Description], [StartDate], [EndDate]) VALUES (1, N'Classic Vest', N'Research, design and development of Classic Vest. Light-weight, wind-resistant, packs to fit into a pocket.', CAST(0x938B0000 AS SmallDateTime), NULL)
INSERT [dbo].[Projects] ([ProjectID], [Name], [Description], [StartDate], [EndDate]) VALUES (2, N'Cycling Cap', N'Research, design and development of Cycling Cap. Traditional style with a flip-up brim; one-size fits all.', CAST(0x90B10000 AS SmallDateTime), CAST(0x938B0000 AS SmallDateTime))
INSERT [dbo].[Projects] ([ProjectID], [Name], [Description], [StartDate], [EndDate]) VALUES (3, N'Full-Finger Gloves', N'Research, design and development of Full-Finger Gloves. Synthetic palm, flexible knuckles, breathable mesh upper. Worn by the AWC team riders.', CAST(0x921E0000 AS SmallDateTime), CAST(0x938B0000 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[Towns] ON 

INSERT [dbo].[Towns] ([TownID], [Name]) VALUES (1, N'Redmond')
INSERT [dbo].[Towns] ([TownID], [Name]) VALUES (2, N'Calgary')
INSERT [dbo].[Towns] ([TownID], [Name]) VALUES (3, N'Edmonds')
SET IDENTITY_INSERT [dbo].[Towns] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [Username], [Password], [FullName], [LastLoginTime], [GroupID]) VALUES (1, N'pesho', N'pesho', N'Pesho Ivanov', CAST(0x0000A38E00C5C100 AS DateTime), 1)
INSERT [dbo].[Users] ([id], [Username], [Password], [FullName], [LastLoginTime], [GroupID]) VALUES (2, N'ivan', N'ivanov', N'Ivan Ivanov', CAST(0x0000A38F00000000 AS DateTime), 2)
INSERT [dbo].[Users] ([id], [Username], [Password], [FullName], [LastLoginTime], [GroupID]) VALUES (3, N'gosho', N'petrov', N'Gosho Petrov', CAST(0x0000A38F00E6B680 AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[WorkHours] ON 

INSERT [dbo].[WorkHours] ([id], [EmployeeId], [ReportDate], [Task], [ExecutionHours], [Comments]) VALUES (1, 1, CAST(0xED380B00 AS Date), N'Check All Data', 3, N'urgent')
INSERT [dbo].[WorkHours] ([id], [EmployeeId], [ReportDate], [Task], [ExecutionHours], [Comments]) VALUES (2, 2, CAST(0xEA380B00 AS Date), N'Check Market', 48, N'BG Market check')
INSERT [dbo].[WorkHours] ([id], [EmployeeId], [ReportDate], [Task], [ExecutionHours], [Comments]) VALUES (3, 3, CAST(0xEB380B00 AS Date), N'Check All Stuff Reports', 6, N'confidential')
SET IDENTITY_INSERT [dbo].[WorkHours] OFF
SET IDENTITY_INSERT [dbo].[WorkHoursLogs] ON 

INSERT [dbo].[WorkHoursLogs] ([id], [OldEmployeeId], [OldReportDate], [OldTask], [OldExecutionHours], [OldComments], [NewEmployeeId], [NewReportDate], [NewTask], [NewExecutionHours], [NewComments], [Command]) VALUES (1, NULL, NULL, NULL, NULL, NULL, 1, CAST(0xED380B00 AS Date), N'Check All', 1, N'very urgent', N'INSERT')
INSERT [dbo].[WorkHoursLogs] ([id], [OldEmployeeId], [OldReportDate], [OldTask], [OldExecutionHours], [OldComments], [NewEmployeeId], [NewReportDate], [NewTask], [NewExecutionHours], [NewComments], [Command]) VALUES (2, 3, CAST(0xEB380B00 AS Date), N'Check All Stuff Reports', 4, N'confidential', 3, CAST(0xEB380B00 AS Date), N'Check All Stuff Reports', 6, N'confidential', N'UPDATE')
INSERT [dbo].[WorkHoursLogs] ([id], [OldEmployeeId], [OldReportDate], [OldTask], [OldExecutionHours], [OldComments], [NewEmployeeId], [NewReportDate], [NewTask], [NewExecutionHours], [NewComments], [Command]) VALUES (3, 1, CAST(0xED380B00 AS Date), N'Check All', 1, N'very urgent', NULL, NULL, NULL, NULL, NULL, N'DELETE')
SET IDENTITY_INSERT [dbo].[WorkHoursLogs] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Groups__72E12F1BF30C56EA]    Script Date: 26.8.2014 г. 16:42:56 ******/
ALTER TABLE [dbo].[Groups] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__536C85E4A0D0CD5F]    Script Date: 26.8.2014 г. 16:42:56 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E4A0D0CD5F] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Towns] FOREIGN KEY([TownID])
REFERENCES [dbo].[Towns] ([TownID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Towns]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Employees] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Employees]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Addresses_Cascade] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Addresses] ([AddressID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Addresses_Cascade]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments_Cascade] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments_Cascade]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Employees] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Employees]
GO
ALTER TABLE [dbo].[EmployeesProjects]  WITH CHECK ADD  CONSTRAINT [FK_EmployeesProjects_Employees_Cascade] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeesProjects] CHECK CONSTRAINT [FK_EmployeesProjects_Employees_Cascade]
GO
ALTER TABLE [dbo].[EmployeesProjects]  WITH CHECK ADD  CONSTRAINT [FK_EmployeesProjects_Projects] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[EmployeesProjects] CHECK CONSTRAINT [FK_EmployeesProjects_Projects]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Groups]
GO
ALTER TABLE [dbo].[WorkHours]  WITH CHECK ADD  CONSTRAINT [FK_WorkHours_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[WorkHours] CHECK CONSTRAINT [FK_WorkHours_Employees]
GO
ALTER TABLE [dbo].[WorkHoursLogs]  WITH CHECK ADD  CONSTRAINT [FK_WorkHoursLogs_NewEmployees] FOREIGN KEY([NewEmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[WorkHoursLogs] CHECK CONSTRAINT [FK_WorkHoursLogs_NewEmployees]
GO
ALTER TABLE [dbo].[WorkHoursLogs]  WITH CHECK ADD  CONSTRAINT [FK_WorkHoursLogs_OldEmployees] FOREIGN KEY([OldEmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[WorkHoursLogs] CHECK CONSTRAINT [FK_WorkHoursLogs_OldEmployees]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [PasswordMinLength] CHECK  ((datalength([Password])>(4)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [PasswordMinLength]
GO
ALTER TABLE [dbo].[WorkHours]  WITH CHECK ADD  CONSTRAINT [ExecutionHoursLength] CHECK  ((datalength([ExecutionHours])>=(0)))
GO
ALTER TABLE [dbo].[WorkHours] CHECK CONSTRAINT [ExecutionHoursLength]
GO
ALTER TABLE [dbo].[WorkHoursLogs]  WITH CHECK ADD  CONSTRAINT [NEwExecutionHoursLength] CHECK  ((datalength([NewExecutionHours])>=(0)))
GO
ALTER TABLE [dbo].[WorkHoursLogs] CHECK CONSTRAINT [NEwExecutionHoursLength]
GO
ALTER TABLE [dbo].[WorkHoursLogs]  WITH CHECK ADD  CONSTRAINT [OldExecutionHoursLength] CHECK  ((datalength([OldExecutionHours])>=(0)))
GO
ALTER TABLE [dbo].[WorkHoursLogs] CHECK CONSTRAINT [OldExecutionHoursLength]
GO
USE [master]
GO
