USE [master]
GO
/****** Object:  Database [TelerikAcademy]    Script Date: 25.8.2014 г. 14:56:29 ******/
CREATE DATABASE [TelerikAcademy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TelerikAcademy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TelerikAcademy.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TelerikAcademy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TelerikAcademy_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TelerikAcademy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TelerikAcademy]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 25.8.2014 г. 14:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[AddressText] [nvarchar](100) NOT NULL,
	[TownID] [int] NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 25.8.2014 г. 14:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ManagerID] [int] NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 25.8.2014 г. 14:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[ManagerID] [int] NULL,
	[HireDate] [smalldatetime] NOT NULL,
	[Salary] [money] NOT NULL,
	[AddressID] [int] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeesProjects]    Script Date: 25.8.2014 г. 14:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesProjects](
	[EmployeeID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Groups]    Script Date: 25.8.2014 г. 14:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 25.8.2014 г. 14:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [ntext] NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Towns]    Script Date: 25.8.2014 г. 14:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Towns](
	[TownID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Towns] PRIMARY KEY CLUSTERED 
(
	[TownID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.8.2014 г. 14:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[LastLoginTime] [datetime] NULL,
	[GroupID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkHours]    Script Date: 25.8.2014 г. 14:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHours](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ReportDate] [date] NOT NULL,
	[Task] [nvarchar](255) NOT NULL,
	[ExecutionHours] [float] NOT NULL,
	[Comments] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_WorkHours] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkHoursLogs]    Script Date: 25.8.2014 г. 14:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHoursLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OldEmployeeId] [int] NULL,
	[OldReportDate] [date] NULL,
	[OldTask] [nvarchar](255) NULL,
	[OldExecutionHours] [float] NULL,
	[OldComments] [nvarchar](255) NULL,
	[NewEmployeeId] [int] NULL,
	[NewReportDate] [date] NULL,
	[NewTask] [nvarchar](255) NULL,
	[NewExecutionHours] [float] NULL,
	[NewComments] [nvarchar](255) NULL,
	[Command] [nvarchar](10) NULL,
 CONSTRAINT [PK_WorkHoursLogs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[Users Logged Today]    Script Date: 25.8.2014 г. 14:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Users Logged Today] AS
SELECT * 
FROM Users
WHERE convert(varchar(2),Users.LastLoginTime,104) = convert(varchar(2),GETDATE(),104)
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([AddressID], [AddressText], [TownID]) VALUES (1, N'108 Lakeside Court', 5)
INSERT [dbo].[Addresses] ([AddressID], [AddressText], [TownID]) VALUES (2, N'1343 Prospect St', 5)
INSERT [dbo].[Addresses] ([AddressID], [AddressText], [TownID]) VALUES (3, N'1648 Eastgate Lane', 5)
GO
SET IDENTITY_INSERT [dbo].[Addresses] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [Name], [ManagerID]) VALUES (1, N'Engineering', 12)
INSERT [dbo].[Departments] ([DepartmentID], [Name], [ManagerID]) VALUES (2, N'Tool Design', 4)
INSERT [dbo].[Departments] ([DepartmentID], [Name], [ManagerID]) VALUES (3, N'Sales', 273)
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [MiddleName], [JobTitle], [DepartmentID], [ManagerID], [HireDate], [Salary], [AddressID]) VALUES (1, N'Guy', N'Gilbert', N'R', N'Production Technician', 7, 16, CAST(0x8CA502D0 AS SmallDateTime), 12500.0000, 166)
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [MiddleName], [JobTitle], [DepartmentID], [ManagerID], [HireDate], [Salary], [AddressID]) VALUES (2, N'Kevin', N'Brown', N'F', N'Marketing Assistant', 4, 6, CAST(0x8D770000 AS SmallDateTime), 13500.0000, 102)
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [MiddleName], [JobTitle], [DepartmentID], [ManagerID], [HireDate], [Salary], [AddressID]) VALUES (3, N'Roberto', N'Tamburello', NULL, N'Engineering Manager', 1, 12, CAST(0x8E980000 AS SmallDateTime), 43300.0000, 193)
GO
SET IDENTITY_INSERT [dbo].[Employees] OFF
INSERT [dbo].[EmployeesProjects] ([EmployeeID], [ProjectID]) VALUES (1, 4)
INSERT [dbo].[EmployeesProjects] ([EmployeeID], [ProjectID]) VALUES (1, 24)
INSERT [dbo].[EmployeesProjects] ([EmployeeID], [ProjectID]) VALUES (1, 38)
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([id], [name]) VALUES (1, N'Admins')
INSERT [dbo].[Groups] ([id], [name]) VALUES (2, N'Users')
SET IDENTITY_INSERT [dbo].[Groups] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectID], [Name], [Description], [StartDate], [EndDate]) VALUES (1, N'Classic Vest', N'Research, design and development of Classic Vest. Light-weight, wind-resistant, packs to fit into a pocket.', CAST(0x938B0000 AS SmallDateTime), NULL)
INSERT [dbo].[Projects] ([ProjectID], [Name], [Description], [StartDate], [EndDate]) VALUES (2, N'Cycling Cap', N'Research, design and development of Cycling Cap. Traditional style with a flip-up brim; one-size fits all.', CAST(0x90B10000 AS SmallDateTime), CAST(0x938B0000 AS SmallDateTime))
INSERT [dbo].[Projects] ([ProjectID], [Name], [Description], [StartDate], [EndDate]) VALUES (3, N'Full-Finger Gloves', N'Research, design and development of Full-Finger Gloves. Synthetic palm, flexible knuckles, breathable mesh upper. Worn by the AWC team riders.', CAST(0x921E0000 AS SmallDateTime), CAST(0x938B0000 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[Towns] ON 

INSERT [dbo].[Towns] ([TownID], [Name]) VALUES (1, N'Redmond')
INSERT [dbo].[Towns] ([TownID], [Name]) VALUES (2, N'Calgary')
INSERT [dbo].[Towns] ([TownID], [Name]) VALUES (3, N'Edmonds')
SET IDENTITY_INSERT [dbo].[Towns] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [Username], [Password], [FullName], [LastLoginTime], [GroupID]) VALUES (1, N'pesho', N'pesho', N'Pesho Ivanov', CAST(0x0000A38E00C5C100 AS DateTime), 1)
INSERT [dbo].[Users] ([id], [Username], [Password], [FullName], [LastLoginTime], [GroupID]) VALUES (2, N'ivan', N'ivanov', N'Ivan Ivanov', CAST(0x0000A38F00000000 AS DateTime), 2)
INSERT [dbo].[Users] ([id], [Username], [Password], [FullName], [LastLoginTime], [GroupID]) VALUES (3, N'gosho', N'petrov', N'Gosho Petrov', CAST(0x0000A38F00E6B680 AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[WorkHours] ON 

INSERT [dbo].[WorkHours] ([id], [EmployeeId], [ReportDate], [Task], [ExecutionHours], [Comments]) VALUES (1, 1, CAST(0xED380B00 AS Date), N'Check All Data', 3, N'urgent')
INSERT [dbo].[WorkHours] ([id], [EmployeeId], [ReportDate], [Task], [ExecutionHours], [Comments]) VALUES (2, 2, CAST(0xEA380B00 AS Date), N'Check Market', 48, N'BG Market check')
INSERT [dbo].[WorkHours] ([id], [EmployeeId], [ReportDate], [Task], [ExecutionHours], [Comments]) VALUES (3, 3, CAST(0xEB380B00 AS Date), N'Check All Stuff Reports', 6, N'confidential')
SET IDENTITY_INSERT [dbo].[WorkHours] OFF
SET IDENTITY_INSERT [dbo].[WorkHoursLogs] ON 

INSERT [dbo].[WorkHoursLogs] ([id], [OldEmployeeId], [OldReportDate], [OldTask], [OldExecutionHours], [OldComments], [NewEmployeeId], [NewReportDate], [NewTask], [NewExecutionHours], [NewComments], [Command]) VALUES (1, NULL, NULL, NULL, NULL, NULL, 1, CAST(0xED380B00 AS Date), N'Check All', 1, N'very urgent', N'INSERT')
INSERT [dbo].[WorkHoursLogs] ([id], [OldEmployeeId], [OldReportDate], [OldTask], [OldExecutionHours], [OldComments], [NewEmployeeId], [NewReportDate], [NewTask], [NewExecutionHours], [NewComments], [Command]) VALUES (2, 3, CAST(0xEB380B00 AS Date), N'Check All Stuff Reports', 4, N'confidential', 3, CAST(0xEB380B00 AS Date), N'Check All Stuff Reports', 6, N'confidential', N'UPDATE')
INSERT [dbo].[WorkHoursLogs] ([id], [OldEmployeeId], [OldReportDate], [OldTask], [OldExecutionHours], [OldComments], [NewEmployeeId], [NewReportDate], [NewTask], [NewExecutionHours], [NewComments], [Command]) VALUES (3, 1, CAST(0xED380B00 AS Date), N'Check All', 1, N'very urgent', NULL, NULL, NULL, NULL, NULL, N'DELETE')
SET IDENTITY_INSERT [dbo].[WorkHoursLogs] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Groups__72E12F1BF30C56EA]    Script Date: 25.8.2014 г. 14:56:29 ******/
ALTER TABLE [dbo].[Groups] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__536C85E4A0D0CD5F]    Script Date: 25.8.2014 г. 14:56:29 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E4A0D0CD5F] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Towns] FOREIGN KEY([TownID])
REFERENCES [dbo].[Towns] ([TownID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Towns]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Employees] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Employees]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Addresses_Cascade] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Addresses] ([AddressID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Addresses_Cascade]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments_Cascade] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments_Cascade]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Employees] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Employees]
GO
ALTER TABLE [dbo].[EmployeesProjects]  WITH CHECK ADD  CONSTRAINT [FK_EmployeesProjects_Employees_Cascade] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeesProjects] CHECK CONSTRAINT [FK_EmployeesProjects_Employees_Cascade]
GO
ALTER TABLE [dbo].[EmployeesProjects]  WITH CHECK ADD  CONSTRAINT [FK_EmployeesProjects_Projects] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[EmployeesProjects] CHECK CONSTRAINT [FK_EmployeesProjects_Projects]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Groups]
GO
ALTER TABLE [dbo].[WorkHours]  WITH CHECK ADD  CONSTRAINT [FK_WorkHours_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[WorkHours] CHECK CONSTRAINT [FK_WorkHours_Employees]
GO
ALTER TABLE [dbo].[WorkHoursLogs]  WITH CHECK ADD  CONSTRAINT [FK_WorkHoursLogs_NewEmployees] FOREIGN KEY([NewEmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[WorkHoursLogs] CHECK CONSTRAINT [FK_WorkHoursLogs_NewEmployees]
GO
ALTER TABLE [dbo].[WorkHoursLogs]  WITH CHECK ADD  CONSTRAINT [FK_WorkHoursLogs_OldEmployees] FOREIGN KEY([OldEmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[WorkHoursLogs] CHECK CONSTRAINT [FK_WorkHoursLogs_OldEmployees]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [PasswordMinLength] CHECK  ((datalength([Password])>(4)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [PasswordMinLength]
GO
ALTER TABLE [dbo].[WorkHours]  WITH CHECK ADD  CONSTRAINT [ExecutionHoursLength] CHECK  ((datalength([ExecutionHours])>=(0)))
GO
ALTER TABLE [dbo].[WorkHours] CHECK CONSTRAINT [ExecutionHoursLength]
GO
ALTER TABLE [dbo].[WorkHoursLogs]  WITH CHECK ADD  CONSTRAINT [NEwExecutionHoursLength] CHECK  ((datalength([NewExecutionHours])>=(0)))
GO
ALTER TABLE [dbo].[WorkHoursLogs] CHECK CONSTRAINT [NEwExecutionHoursLength]
GO
ALTER TABLE [dbo].[WorkHoursLogs]  WITH CHECK ADD  CONSTRAINT [OldExecutionHoursLength] CHECK  ((datalength([OldExecutionHours])>=(0)))
GO
ALTER TABLE [dbo].[WorkHoursLogs] CHECK CONSTRAINT [OldExecutionHoursLength]
GO
USE [master]
GO
