.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
body,
div,
aside,
ul,
li,
a {
  margin: 0;
  padding: 0;
}
#wrapper {
  width: 960px;
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size: 16px;
}
aside {
  margin: 10px 0px 0px 10px;
}
aside ul {
  list-style-type: none;
}
aside > ul > li {
  font-size: 1.2em;
}
aside ul li {
  padding: 5px;
  border-bottom: 2px solid #9371b0;
}
aside ul li:first-of-type {
  padding-top: 0px;
}
aside ul li:last-of-type {
  padding-bottom: 0px;
  border-bottom: none;
}
aside ul li:hover {
  border: 1px solid #9371b0;
}
aside ul li:hover ul {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #b789de;
  background: -moz-linear-gradient(top, #83cee6 0%, #b789de 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #83cee6), color-stop(100%, #b789de));
  background: -webkit-linear-gradient(top, #83cee6 0%, #b789de 100%);
  background: -o-linear-gradient(top, #83cee6 0%, #b789de 100%);
  background: -ms-linear-gradient(top, #83cee6 0%, #b789de 100%);
  background: linear-gradient(to bottom, #83cee6 0%, #b789de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{@from-color}', endColorstr='#{@to-color}', GradientType=0);
  background-repeat: no-repeat;
}
aside ul li ul {
  display: none;
  background-image: url(\task1\images\arrow.png);
  background-repeat: no-repeat;
  background-position: 5px 5px;
}
.sidebar {
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  background: #b789de;
  background: -moz-linear-gradient(top, #83cee6 0%, #b789de 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #83cee6), color-stop(100%, #b789de));
  background: -webkit-linear-gradient(top, #83cee6 0%, #b789de 100%);
  background: -o-linear-gradient(top, #83cee6 0%, #b789de 100%);
  background: -ms-linear-gradient(top, #83cee6 0%, #b789de 100%);
  background: linear-gradient(to bottom, #83cee6 0%, #b789de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{@from-color}', endColorstr='#{@to-color}', GradientType=0);
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: black;
}
