<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDayOfTheWeek" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55937/DayOfTheWeek.svc/localhost"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDayOfTheWeek"
                contract="DayOfTheWeek.IDayOfTheWeek" name="WSHttpBinding_IDayOfTheWeek">
                <identity>
                    <userPrincipalName value="mail@mail.bg" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>