<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="\css\2.css" />
    <title>Music Catalogue</title>
</head>
<body>
    <section>
        <header>
            <div>Music Catalogue</div>
        </header>
        <article class="firstArticle">
            <p>Even more websites all about website templates on <strong>Just Web Templates.</strong></p>
            <input type="button" value="Listen" />
            <input type="button" value="Add" />
        </article>
        <article class="secondArticle">
            <p>If you're looking for beautiful and professionally made templates you can find them at <strong>Template Beauty</strong></p>
            <input type="button" value="Listen" />
            <input type="button" value="Add" />
        </article>
        <article class="thirdArticle">
            <p>You can remove any link to our websites from this template you're linking back to us.</p>
            <input type="button" value="Listen" />
            <input type="button" value="Add" />
        </article>
    </section>
</body>
</html>
