<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="css/5.css" rel="stylesheet" />
    <title>Laptops</title>
</head>
<body>
    <header>
        <h2>
            <a href="http://www.apple.com">Apple</a>
            <a href="http://www.toshiba.com">Toshiba</a>
            <a href="http://www.lenovo.com">Lenovo</a>
            <a href="http://www.dell.com">Dell</a>
            <a href="http://www.asus.com">Asus</a>
            <a href="http://www.acer.com">Acer</a>
            <a href="http://www.hp.com">HP</a>
        </h2>
    </header>
    <section>
        <fieldset>
            <fieldset>
                <legend>Apple MacBook Air</legend>
                <ul>
                    <li>
                        <img src="\images\UKFlag.jpg" />
                        <p>64 GB SSD</p>
                        <p>2GB DDR</p>
                    </li>
                    <li>
                        <p>1300 USD</p>
                        <p>Intel Core I5</p>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Apple MacBook Air</legend>
                <ul>
                    <li>
                        <img src="\images\UKFlag.jpg" />
                        <p>64 GB SSD</p>
                        <p>2GB DDR</p>
                    </li>
                    <li>
                        <p>1300 USD</p>
                        <p>Intel Core I5</p>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Apple MacBook Air</legend>
                <ul>
                    <li>
                        <img src="\images\UKFlag.jpg" />
                        <p>64 GB SSD</p>
                        <p>2GB DDR</p>
                    </li>
                    <li>
                        <p>1300 USD</p>
                        <p>Intel Core I5</p>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Apple MacBook Air</legend>
                <ul>
                    <li>
                        <img src="\images\UKFlag.jpg" />
                        <p>64 GB SSD</p>
                        <p>2GB DDR</p>
                    </li>
                    <li>
                        <p>1300 USD</p>
                        <p>Intel Core I5</p>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Apple MacBook Air</legend>
                <ul>
                    <li>
                        <img src="\images\UKFlag.jpg" />
                        <p>64 GB SSD</p>
                        <p>2GB DDR</p>
                    </li>
                    <li>
                        <p>1300 USD</p>
                        <p>Intel Core I5</p>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Apple MacBook Air</legend>
                <ul>
                    <li>
                        <img src="\images\UKFlag.jpg" />
                        <p>64 GB SSD</p>
                        <p>2GB DDR</p>
                    </li>
                    <li>
                        <p>1300 USD</p>
                        <p>Intel Core I5</p>
                    </li>
                </ul>
            </fieldset>
        </fieldset>
        <aside>
            <ul>
                <li>
                    <p>Min Price: 500 USD</p>
                    <input type="range" min="0" max="1000" step="100" />
                </li>
                <li>
                    <p>Max Price: 1500 USD</p>
                    <input type="range" min="0" max="3000" step="400" />
                </li>
                <li>
                    <p>Min RAM: 4 GB</p>
                    <input type="range" min="0" max="8" step="1" />
                </li>
                <li>
                    <p>Max RAM: 16 GB</p>
                    <input type="range" min="0" max="32" step="4" />
                </li>
            </ul>
        </aside>
    </section>
</body>
</html>
