section {
    margin:0px;
    padding:0px;
    background-color: #1E3741;
    border: 2px solid #337D8F;
    border-radius: 10px;
    width: 560px;
    height:300px;
}
img {
    height:230px;
}
ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
ul a {
    text-decoration:none;
    color:aqua;
}
header {
    margin-bottom:10px;
}
header nav ul li {
    display:inline-block;
    background-color: #4B5F67;
    color: #809A9F;
    font-weight: bold;
    font-size:0.9em;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin:0px;
    margin-top: 5px;
    margin-left: -2px;
}
header nav ul li:first-child {
    margin-left:5px;
    background-color: #1E3741;
}
header nav ul li:hover {
    text-decoration:underline;
}
article nav {
    float: left;
    width: 200px;
}
article nav ul li {
    color: #91A7A6;
    font-weight: bold;
    font-size:0.8em;
    padding-left: 5px;
    padding-bottom:10px;
    border-bottom: 1px solid #364B54;
}
article nav ul li:last-of-type {
    border:none;
}
article nav ul li:hover {
    background-color: #00968C;
    color: white; 
}