body {
	background: #000;
	font: 14px Tahoma;
}
.person-item, button {
	color: #b39e79;
	width: 400px;
	border: 1px solid #46311b;
	cursor: pointer;
	margin: 0 0 10px 0px;
	background: #17100d;
}
button {
	height: 50px;
}
.person-item:hover, button:hover {
	background: #31221b;
	color: #d5bd93;
	border: 1px solid #836e53;
}
.person-item img {
	width: 380px;
	border: 1px solid #46311b;
	margin: 5px 0 8px 8px;
}
.person-item .person-name {
	font: 26px Georgia;
	margin: 10px 0 0px 5px;
	font-weight: bold;
	color: #b26400;
	position: relative;
	top: 5px;
	left: 5px;
}
.person-item .person-age {
	margin: 5px 10px 5px 10px;
}